body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", 
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: black;
    color:  gainsboro;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  
  
  
  
  .Main {
    text-align: center;
    color: blanchedalmond;
  }
  
  
  .logo {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
  
  }
  
  
  
  
  
  
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  img {
    max-width: 100%;
  }
  
  
  
  .header-banner {
    display: flex;
    align-items: center;
    background-color: red;
  }
  
  .release {
    background: grey;
    padding: 1rem;
    border-top: 1.5rem solid #e13e45;
    flex: 1 0 auto;
    margin: 2rem;
    overflow: hidden;
    width: calc(33.3% - 4rem);
    box-shadow: 0 0 10px rgba(13,24,28,0.2);
    transition: all 0.2s;
  }
  
  .releaseg:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px 2px rgba(13,24,28,0.3);
  }
  
  .release a {
    text-decoration: none;
  }
  
  .release h2 {
    margin: 0;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .releases {
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 0 auto;
  }
  /*
    Search
  */
  .search {
    text-align: center;
    max-width: 500px;
    margin: 2rem auto;
  }
  
  .search form {
    display: flex;
  }
  
  .search form > * {
    flex: 1;
    background: #fff;
    border: 0;
    padding: 2rem;
    font-size: 2rem;
  }
  
  
  .search form > *[type="submit"] {
    flex-grow: 2;
    background: #e13e45;
    color: #fff;
    text-transform: uppercase;
  }
  
  .search form > *[type="text"] {
    flex-grow: 10;
  }
  /*
    Loader
  */
  .loader {
    margin: 0 auto;
    text-align: center;
    font-size: 3rem;
    font-weight: 100;
  }
  /*
    Single Beer View
  */
  .single-beer {
    max-width: 500px;
    margin: 0 auto;
    background: #fff;
    padding: 2rem;
  }
  
  .single-beer .label {
    width: 100%;
  }
  
  .single-beer img {
    max-width: 100%;
  }
  
  .single-beer h3 {
    font-size: 2rem;
  }
  
  .glass img {
    float: left;
    width: 200px;
  }